---
import { Breadcrumbs, BreadcrumbsItem } from "accessible-astro-components";
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

export async function getStaticPaths() {
  const data = await getCollection("sights");

  return data.map((post) => {
    return {
      params: {
        post: post.data.title.replaceAll(" ", "-").toLowerCase(),
        slug: post.slug,
      },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout
  title={post.data.title}
  description={post.data.description}
  url={post.data.title}
>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Startseite" />
        <BreadcrumbsItem href="/erlebenswertes" label="Erlebenswertes" />
        <BreadcrumbsItem currentPage={true} label={post.data.title} />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <p>Tags: {post.data.tags.join(", ")}</p>
    </div>
  </section>
  <section class="my-12">
    <div
      class="container prose-h1:my-8 prose-h2:mb-4 prose-h2:mt-8 prose-p:my-2 prose-ul:list-disc"
    >
      <Content />
    </div>
  </section>
</DefaultLayout>
